.login-signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background: #f5f6fa;
  margin: 3%;
}

.form-box {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.form-box h2 {
  margin-bottom: 1rem;
}
.signup-option-section {
  display: grid;
}
.signup-option-section a {
  background-color: #0077b6;
  padding: 8px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 5px;
}
.form-box input {
  width: 275px;
  padding: 10px;
  margin: 0.6rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-box button {
  width: 100%;
  padding: 10px;
  background-color: #0077b6;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 1rem;
  cursor: pointer;
}

.form-box button:hover {
  background-color: #023e8a;
}

.form-box p {
  margin-top: 1rem;
  color: #555;
  cursor: pointer;
  font-size: 0.9rem;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.password-input-wrapper {
  position: relative;
  width: 100%;
}

.password-input-wrapper input {
  width: 100%;
  padding-right: 40px; /* space for eye icon */
  box-sizing: border-box;
}

.eye-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  color: #555;
}
